name: Build Android APK (Debug)

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    timeout-minutes: 45 # Sécurité anti-blocage

    steps:
      - name: Checkout du code
        uses: actions/checkout@v4

      - name: Configuration de Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'
          cache: ''

      - name: Configuration de Java (JDK 17)
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v3
        with:
          # CHANGEMENT CRITIQUE : On force 8.7 pour contourner le bug de téléchargement de la 8.6
          gradle-version: 8.7
          cache-read-only: false

      - name: Installation des dépendances
        run: |
          npm cache clean --force
          npm install --legacy-peer-deps
          npx expo install --fix

      - name: Expo Prebuild
        run: npx expo prebuild --platform android --clean

      - name: Build Android APK
        run: |
          cd android
          chmod +x gradlew
          # On nettoie d'abord pour être sûr
          ./gradlew clean
          # On lance le build avec une mémoire augmentée pour éviter les plantages
          ./gradlew assembleDebug -Dorg.gradle.jvmargs="-Xmx4608m -XX:MaxMetaspaceSize=1024m" --no-daemon

      - name: Télécharger l'APK
        uses: actions/upload-artifact@v4
        with:
          name: comtac-v14-debug
          path: android/app/build/outputs/apk/debug/app-debug.apk
